.benefits-section {
  height: 100vh;
  min-height: rem(450px);
  position: relative;
}

.container-benefits {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;

  @include tablets {
    padding: 0;
    width: 103%;
  }

  @include phones {
    width: 99%;
  }
}

.benefits-decor-triange {
  max-width: rem(25px);
  box-sizing: content-box;
  border: rem(30px)  solid;
  border-top: 0;
  border-right: rem(14px) solid;
  /*border-left: rem(23px);*/
  border-color: transparent transparent red transparent;
  position: absolute;
  left: -4%;
  bottom: rem(-15px);
  transform: rotate(-17deg);
  z-index: 100;

  @include tablets {
    left: 5%;
  }
}


.benefits {
  display: flex;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.benefits__item {
  flex:1;
  padding: 0;
  position: relative;

    @include tablets {
    padding: 0;
    .benefit__desc {
      padding-right: 3%;
    }
  }

  @include phones {
    padding: 0;
  }

  &::before {
    height: rem(31px);
    width: rem(88px);
    content: "";
    background: url('../img/separator.png') center center / cover;
    position: absolute;
    top: 20%;
    right: -16%;
    transform: translateX(50%);
    display: block;
    z-index: 100;

    @include tablets {
      display: none;
    }
  }

  &:first-child {
    margin-left: 0;
    padding-right: 8%;

    @include tablets {
      padding-right: 0;
    }

    &::before {
      right: 13%;
    }
  }

  &:last-child {
    margin-right: 0;
    padding-left: 8%;

    @include tablets {
     margin-right: 2%;
     padding-left: 0; 

     .benefit__desk {
       padding: 0 5%;
     }
    }

    @include phones {
 
      .benefit__desk {
        padding: 0 ;
      }
     }

    &::before {
      background: none;
    }  
  }
}

.headline {
  text-align:  center;
}

.headline__title {
  margin-bottom: rem(13px);

  @include tablets {
    margin-bottom: rem(5px);
    padding-right: 2%;
  }

  @include phones {
    font-size: rem(32px);
    margin-bottom: rem(8px);
  }
}

.headline__subtitle {
  text-align: center;
  line-height: 1;
  font-family: $font2;
  font-size: rem(16px);
  display: inline-block;
  padding: 0% 22% 7%;
  
  @include tablets {
    padding: 0% 14% 7%;
  }

  @include phones {
    padding: 0% 6%;
    line-height: 1.2;
    margin-bottom: rem(50px);
  }
}