.form {
  display: flex;
  column-gap: rem(25px);

  @include tablets {
    flex-direction: column;
    padding: 0 18%;
  }

  @include phones {
    padding: 0 1%;
  }

}

.form-col {
  flex: 1;
  /*margin-right: rem(25px);*/

  @include tablets {
    margin-right: 0;
  }

  @include phones {
    width: 100%;
  }

  &:last-child {
    margin-right: 0;
  }
}

.form-row {
  display: flex;
  margin-bottom: rem(25px);

  @include tablets {
    margin-bottom: rem(10px);
  }
}

.form-block {
  flex: 1;
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.form-title {
  color: #fff;
}

.form-input {
  width: 100%;
  border: none;
  padding: rem(16px) rem(10px);
  border: solid rem(3px) transparent;
  margin-right: rem(10px);
  border-radius: rem(3px);
  margin-bottom: rem(-15px);

  @include tablets {
    padding: rem(5px) rem(5px);
    margin-bottom: rem(0px);
  }

  &--textarea {
    height: rem(151px);
    resize: none;
    margin-left: rem(5px);
    margin-bottom: rem(7px);

    @include tablets {
      height: rem(80px);
    }

    @include phones {
      margin-left: 0;
      flex: 1;
    }
  }

  &:focus {
    border-color: red;
    outline: 0;
  }
}

.form__controls-wraper {
  margin-bottom: rem(30px);
  padding-right: rem(20px);

  @include tablets {
    margin-bottom: rem(14px);
    padding-right: 0;
  }

  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-left: rem(10px);

  @include tablets {
    margin-left: 0;
  }
}

.form__btns {
  display: flex;

  @include tablets {
    justify-content: center;
  }

  @include phones {
    margin-left: 4%;
  }
}
